

header { 
	width: 100%; 
	height: 100px; 
	margin: auto;
	
}
#Logo{
	float:left;
	padding: 50px 3%;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #333;
  	cursor: pointer;
}
nav { width: 100%;}

nav ul {
	padding-top: 30px;
}
nav a { 
	display: block; 
	padding: 15px 8%;
	font-family: Montserrat;
	font-size: 34px;
	color: #ffffff;
	text-decoration: none;
}
nav a:hover { background: 000000; color: #b4eaff; }
nav li:last-child a { border-bottom: none; }

/*-----------------------------------------*/

#side-nav {
	width: 60%;
	height: 100%;
	top: 0;
	position: absolute;
	background: #000000;
	right: -60%;
	z-index: -10;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	
}
.menu-icon {
	font-size:30px ;
	padding: 40px 50px;
	background: none;
	color: #000;
	cursor: pointer;
	float: right;
	margin: 6px 6px 0 0;
	border-radius: 5px;
}
#menuToggle { display: none; }

#menuToggle:checked ~ #side-nav { position: absolute; right: 0; }
