/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* BASE STYLES
/*******************************************/

/* Logo */

h1 {
  float:left;
  padding: 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #333;
  cursor: pointer;
}

/* Hamburger Menu */
.menu { float:right;
  padding: 3%;
  cursor: pointer;
}

#menu-btn {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 110;
}

#menu-btn.checked {
  position: fixed;


}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


.checked .bar1 ,.checked .bar2 ,.checked .bar3{
  background-color: white;

}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* menu item style */

body{
  overflow-x: hidden;
}
nav a { 
  display: block; 
  padding: 20px 8%;
  font-family: Montserrat;
  font-size: 34px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover { background: 000000; color: #b4eaff; }
nav ul{
padding-top: 50px;
}


#side-nav {
  width: 60%;
  height: 100%;
  top: 0;
  position: fixed;
  background: #000000;
  right: -60%;
  z-index:100;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  
}

#menu-btn.checked+#side-nav { position: fixed; right: 0; }


/* Hamburger Menu End*/
/*******************************************/

/*/////////////////////////////////////////////////
content start*/



/*content end//////////////////////////////////////*/


 /* Footer Styles
 */

.footer{ 
  clear: both; 
  width:100%; 
  background: black;
  height: 300px;
   /* footer container*/

}

.section1 {
  display: inline-block;
  padding: 35px 3%;
  float: left;

}
.section2 {
  display: inline-block;
  float: both;
  padding: 35px 3%;

}

footer h4{
  text-align: left;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  padding-bottom: 20px;
}

footer h5{
  text-align: left;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  padding-top:15px ;
  padding-bottom: 20px;
  font-weight: 300;
  width: 197px;
  height: 48px;
  line-height: 1.33;
}

  .social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 3px;
  text-align: center;
  padding:5px 2%;
}

  .arrow {
    height: 44px;
    width: 44px;
    float: right;
    padding: 30px 8%;
  }

   /* footer icons*/
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/*Media Query -resize footer for copyright floats*/
@media only screen and (max-width:782px){
  .section2{
    margin:-30px 300px 0 0;
    padding: ;
    float:none;
 }
}

/*Media Query -resize to tablet*/
@media only screen and (max-width:768px) {
  .square {
    width: 50vw;
    height: 50vw;
  }

  .square img{
    width: 50vw;
    height: 50vw;
  }
    .section2{
    margin:-30px 300px 0 0;
    padding: ;
    float:none;
 }

}

@media only screen and (max-width:700px){
  h1 {

    padding: 4% 0 3% 3%;
}

/*Media Query -resize to mobile*/
@media only screen and (max-width:500px){
#side-nav {
    z-index: 10;
    width: 100%;
    height: 100%;
    right: -100%;
  }
  #menu-btn {
    z-index: 100;
    position: absolute;
    top: 1.5%;
    right: 1%;
  }
   h1 {

    padding: 8% 0 8% 3%;
}
/*Media Query -resize to mobile*/
@media only screen and (max-width:414px) {

/*put menu items up here -*/

  h1 {

    padding: 8% 0 8% 3%;
    
  }

  #side-nav {
   
  }
  #menu-btn {
    z-index: 100;
    position: absolute;
    top: 1.5%;
    right: 1%;
  }

  #menu-btn.checked+#side-nav { position: absolute; right: 0; }

    .hvr-fade{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    }
    
    .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #2098D1;
    color: white;
  }

  .arrow {
    display:none;
  }

  footer section h4 {
    text-align: center;

  }
  footer section h5{
     text-align: center;
     width: 197px;
     height: 48px;
     line-height: 1.33;
  }

  .footer{ 
  height: 300px;
}
  .section2{
    display: inline-block;
    padding: 0 3%;
    margin:0 22%;
 }

}
  .social {
  margin: 0 0px;
  text-align: center;
  padding:5 5.6%;
  }



}
