/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/************************************************************/

/* Logo */

h1 {
	float:left;
	padding: 3%;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #333;
  cursor: pointer;
}

/* Hamburger Menu */
.menu { float:right;
	padding: 3%;
  cursor: pointer;
}

#menu-btn {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 110;
}

#menu-btn.checked {
  position: fixed;


}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


.checked .bar1 ,.checked .bar2 ,.checked .bar3{
  background-color: white;

}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* menu item style */

body{
  overflow-x: hidden;
}
nav a { 
  display: block; 
  padding: 20px 8%;
  font-family: Montserrat;
  font-size: 34px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover { background: 000000; color: #b4eaff; }
nav ul{
padding-top: 50px;
}


#side-nav {
  width: 60%;
  height: 100%;
  top: 0;
  position: fixed;
  background: #000000;
  right: -60%;
  z-index:100;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  
}

#menu-btn.checked+#side-nav { position: fixed; right: 0; }

/* Hamburger Menu End*/



/* project grid start*/
#projectGrid {
  float: left;
  width: 100%;
}


/* each individual project square*/
.square {
  border: 0px;
  padding: 0 auto;
  float:left;
  box-sizing:border-box;
  width: 33.33vw;
  height: 33.33vw;
  background: none;

}

.square a {
 
   /* hides titles of projects*/
 }


.square img {
    width: 33.33vw;
    height: 33.33vw;
    transition:opacity 0.3s ease-in-out;
  /* keeps images inside square*/
}

/************** HOVERS*********************
*******************************************/

  /* hover over Culture Magazine********************************/
.cultureMag{
  background: #b4eaff;
  position: relative;

}

.cultureMag a{
  position: absolute;
  width: 100%;
  top: 110px;
  left: 35px;
  z-index: 5;
  opacity: 0;
  transition:opacity 0.2s ease-in-out;
  color: black;
  text-decoration: none; 
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.cultureMag p{
  font-size: 18px;
  width: 100%;
  top: 110px;
  left: 35px;
  font-weight:400;
}

.cultureMag .style1 {
  width: 50px;
  height: 5px;
  background-color: #000000;
  margin: 35px 10px 70px 0;

   /*margin: 70px 0 50px 75px ;*/
}

.cultureMag:hover img{
    opacity: 0;
  }

.cultureMag:hover a{
    opacity: 1;
    color: black;
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    }

.cultureMag:hover p{
    font-size:18px;

  }


/************************** HOVER OVER XIVELY*************************************/
.xively{
 background-color:#e33e29;
;
  position: relative;

}

.xively a{
  position: absolute;
  width: 100%;
  top: 110px;
  left: 35px;
  z-index: 5;
  opacity: 0;
  transition:opacity 0.2s ease-in-out;
  color: black;
  text-decoration: none; 
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.xively p{
  font-size: 18px;
  width: 100%;
  top: 110px;
  left: 35px;
  font-weight:400;
}

.xively .style1 {
  width: 50px;
  height: 5px;
  background-color: #000000;
  margin: 35px 10px 70px 0;

   /*margin: 70px 0 50px 75px ;*/
}

.xively:hover img{
    opacity: 0;
  }
.xively:hover a{
    opacity: 1;
    color: black;
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    }

.xively:hover p{
    font-size:18px;

  }

/* HOVER OVER GRASSHOPPER***********************************/
  .grasshopper{
   background-color:#3aa72e;
  ;
    position: relative;

  }

  .grasshopper a{
    position: absolute;
    width: 100%;
    top: 110px;
    left: 35px;
    z-index: 5;
    opacity: 0;
    transition:opacity 0.2s ease-in-out;
    color: black;
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
  }

  .grasshopper p{
    font-size: 18px;
    width: 100%;
    top: 110px;
    left: 35px;
    font-weight:400;
  }

  .grasshopper .style1 {
    width: 50px;
    height: 5px;
    background-color: #000000;
    margin: 35px 10px 70px 0;

     /*margin: 70px 0 50px 75px ;*/
  }

  .grasshopper:hover img{
      opacity: 0;
    }
  .grasshopper:hover a{
      opacity: 1;
      color: black;
      text-decoration: none; 
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      }

  .grasshopper:hover p{
      font-size:18px;

  }


/* HOVER OVER CAREME********************************************/
  .careMe{
   background-color:#ef9100;
  ;
    position: relative;

  }

 .careMe a{
    position: absolute;
    width: 100%;
    top: 110px;
    left: 35px;
    z-index: 5;
    opacity: 0;
    transition:opacity 0.2s ease-in-out;
    color: black;
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
  }

   .careMe p{
    font-size: 18px;
    width: 100%;
    top: 110px;
    left: 35px;
    font-weight:400;
  }

   .careMe .style1 {
    width: 50px;
    height: 5px;
    background-color: #000000;
    margin: 35px 10px 70px 0;

     /*margin: 70px 0 50px 75px ;*/
  }

   .careMe:hover img{
      opacity: 0;
    }
   .careMe:hover a{
      opacity: 1;
      color: black;
      text-decoration: none; 
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      }

   .careMe:hover p{
      font-size:18px;

  }
/* HOVER OVER ANNUAL REPORT********************************************/
  .annualReport{
   background-color:#f2e39c;
  ;
    position: relative;

  }

  .annualReport a{
    position: absolute;
    width: 100%;
    top: 110px;
    left: 35px;
    z-index: 5;
    opacity: 0;
    transition:opacity 0.2s ease-in-out;
    color: black;
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
  }

   .annualReport p{
    font-size: 18px;
    width: 100%;
    top: 110px;
    left: 35px;
    font-weight:400;
  }

   .annualReport .style1 {
    width: 50px;
    height: 5px;
    background-color: #000000;
    margin: 35px 10px 70px 0;

     /*margin: 70px 0 50px 75px ;*/
  }

   .annualReport:hover img{
      opacity: 0;
    }
   .annualReport:hover a{
      opacity: 1;
      color: black;
      text-decoration: none; 
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      }

   .annualReport:hover p{
      font-size:18px;

  } 

/* HOVER OVER DATA AS JOURNALISM********************************************/
  .dataAsJournalism{
   background-color:#c0c4ce;
  ;
    position: relative;

  }

  .dataAsJournalism a{
    position: absolute;
    width: 100%;
    top: 110px;
    left: 35px;
    z-index: 5;
    opacity: 0;
    transition:opacity 0.2s ease-in-out;
    color: black;
    text-decoration: none; 
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
  }

   .dataAsJournalism p{
    font-size: 18px;
    width: 100%;
    top: 110px;
    left: 35px;
    font-weight:400;
  }

   .dataAsJournalism .style1 {
    width: 50px;
    height: 5px;
    background-color: #000000;
    margin: 35px 10px 70px 0;

     /*margin: 70px 0 50px 75px ;*/
  }

   .dataAsJournalism:hover img{
      opacity: 0;
    }
   .dataAsJournalism:hover a{
      opacity: 1;
      color: black;
      text-decoration: none; 
      font-family: 'Montserrat', sans-serif;
      font-size: 32px;
      }

   .dataAsJournalism:hover p{
      font-size:18px;

  }  

/************** HOVERS - END *********************
*******************************************/   


img:hover { background: 000000; color: #b4eaff; }

/**
 * Footer Styles
 */

footer{
   clear:both;
   z-index: 50;
}
.footer{ 
  clear: both; 
  width:100%; 
  background: black;
  height: 300px;

   /* footer container*/

}

.section1 {
  display: inline-block;
  padding: 35px 3%;
  float: left;

}
.section2 {
  display: inline-block;
  float: both;
  padding: 35px 3%;

}

footer h4{
  text-align: left;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  padding-bottom: 20px;
}

footer h5{
  text-align: left;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
  padding-top:15px ;
  padding-bottom: 20px;
  font-weight: 300;
  width: 197px;
  height: 48px;
  line-height: 1.33;
}

  .social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 3px;
  text-align: center;
  padding:5px 2%;
}

  .arrow {
    height: 44px;
    width: 44px;
    float: right;
    padding: 30px 8%;
  }

   /* footer icons*/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/*Media Query -resize footer for copyright floats*/
@media only screen and (max-width:1250px){
  .square {
    width: 50vw;
    height: 50vw;
  }
    .square img{
    width: 50vw;
    height: 50vw;
  }


/*Media Query -resize to tablet*/
@media only screen and (max-width:782px){
    .section2{
    margin:-30px 300px 0 0;
    padding: ;
    float:none;
 }
    .section2{
    margin:-30px 300px 0 0;
    padding: ;
    float:none;
 }

}

/*Media Query -resize to mobile/////////////////////////////////////*/

@media only screen and (max-width:700px){
    .square {
      width: 100vw;
      height: 100vw;
  }
    .square img{
      width: 100vw;
      height: 100vw;
  }
  h1 {

    padding: 4% 0 3% 3%;
}

@media only screen and (max-width:500px){
  .arrow {
    display:none;
  }

  #side-nav {
    z-index: 10;
    width: 100%;
    height: 100%;
    right: -100%;
  }
  #menu-btn {
    z-index: 100;
    position: absolute;
    top: 1.5%;
    right: 1%;
  }
   h1 {

    padding: 8% 0 8% 3%;

}
/*Media Query -resize to mobile*/
@media only screen and (max-width:414px) {

  #side-nav {
   
  }
  #menu-btn {
    z-index: 100;
    position: absolute;
    top: 1.5%;
    right: 1%;
  }

  #menu-btn.checked+#side-nav { position: absolute; right: 0; }


  h1 {

    padding: 8% 0 8% 3%;
    
  }
    .hvr-fade{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    }
    
    .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #2098D1;
    color: white;
  }

  /************footer START -***************/

    footer section h4 {
      text-align: center;

    }
    footer section h5{
       text-align: center;
       width: 197px;
       height: 48px;
       line-height: 1.33;
    }

    .footer{ 
    height: 300px;
  }
    .section2{
      display: inline-block;
      padding: 0 3%;
      margin:0 22%;
   }

  }
    .social {
    margin: 0 0px;
    text-align: center;
    padding:5 5.6%;
    }

  }
